<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Scheduler Login</title>
</head>

<body>

    <img class="logo" src="logo.png" alt="Logo">

    <!--EMAIL INPUT-->
    <div class="signup">
        <h1>Scheduler</h1>
        <label for="user-email">Username</label>
        <input type="email" placeholder=" " name="user-email" id="user-email" required/>

        <!--PASSWORD INPUT-->
        <div>
            <label for="user-password">Password</label>
            <input placeholder=" " label="false" type="password" name="user-password" id="user-password" required/>
        </div>

        <!--SIGN IN BUTTON-->
        <button>
           <a href="/login" class="login_btn">Log In</a>
        </button>
    </div>
</body>
</html>
